<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <script th:replace="fragments/header :: headerElement">
        /*This stuff will be replaced with our fragment */
    </script>
    <title>Vote App Homepage</title>
</head>
<body>
<div class="container">
    <div class="row" style="margin-top: 2em">
        <div class="-8">                            <!-- 8 + 4 = 12-->
            <h1>Welcome to Vote App</h1>
        </div>
        <div class="col-4">                         <!-- 4 + 8 = 12-->
            <button class="btn btn-primary float-right" type="button" id="login">Login</button>
        </div>
    </div>
</div>
    <!--// not using JQuery &ndash;&gt; JS-->
    <script type="text/javascript">
        /*// wwww you my not need jquery - EVENTS*/
        let loginBtn = document.getElementById('login')    /*// equivalent JQuery  let loginBtn = $("#login")*/

        loginBtn.addEventListener('click', function () {
            window.location.href = '/login'
        })
    </script>
</body>
</html>