<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">
<head>
    <script th:replace="fragments/header :: headerElement">
        /* This stuff will be replaced with our fragment*/
    </script>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>     <!--Navbar-->
<div class="container">
    <h1>Products</h1>

    <div th:each="product : ${products}">
        <a th:href="@{/products/{productId}(productId=${product.id})}" th:text="${product.name}"></a>
    </div>
</div>
</body>
</html>