<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Vote App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--JQuery-->
    <script
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous">

    </script>
    <script type="text/javascript">                                 /* on click we want to go back /login*/
        $(function () {
            $("#back").click(function () {
                window.location.href = "/login";
            });
        });
    </script>
</head>
<body>
<div class="container">
    <div class="card" style="margin-top: 1.5em;">
        <div class="card-header"><h2>Register For An Account</h2></div>
        <div class="card-body">
            <form action="" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                <div class="form-group row">
                    <label for="name" class="col-2 col-form-label">Name: </label>
                    <!-- name is coming from ${user.name} -->
                    <div class="col-md-10">
                        <input type="text" class="form-control" th:field="${user.name}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="username" class="col-md-2 col-form-label">
                           Email Address: </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" th:field="${user.username}"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="password" class="col-md-2 col-form-label">
                        Password: </label>
                    <div class="col-10">
                    <input type="password" class="form-control" th:field="${user.password}"/>
                </div>
                </div>

                <div class="form-group row">
                    <label for="confirmPassword" class="col-md-2 col-form-label">
                        Confirm Password:
                    </label>
                    <div class="col-md-10">
                    <input type="password" class="form-control" id="confirmPassword"/>

                    </div>
                </div>

                <button type="button" class="btn btn-large btn-info" id="back">Back</button>
                <button type="submit" class="btn btn-large btn-primary float-right">Create Account</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>